/* web-player/web-player.module.css */
* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}
:host {
  --shadow: rgba(0, 0, 0, 0.1);
  --panel: #fff;
  --button: #f9f9f9;
  --button-hover: #ffffff;
  --border: #ccc;
  --border-hover: #ddd;
  --primary: #3FA9F5;
  --primary-light: #8cc9f7;
  --negative: #CF2222;
  --highlight: #ffeebb;
}
.web_player_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  border: 2px solid var(--border);
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 0px transparent;
  transition:
    background-color 0.1s,
    border 0.2s,
    box-shadow 0.1s;
  &:hover {
    background-color: var(--button-hover);
    border: 2px solid var(--border-hover);
    box-shadow: 0 1px 4px var(--shadow);
  }
}
.web_player_floatingButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 48px;
  margin: 8px;
  font-size: 20px;
  box-shadow: 0 2px 16px var(--shadow);
  background-size: cover;
  background-position: center center;
  &::before {
    content: "\1f3b5";
  }
  &.web_player_hasImage {
    animation: 5s infinite linear web_player_spinner;
    &::before {
      content: "";
    }
  }
}
[data-tooltip] {
  &::after {
    font-family: unset;
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    content: attr(data-tooltip);
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    text-align: center;
    min-width: 80px;
    z-index: 2;
  }
  &.web_player_left::after {
    left: 0;
  }
  &.web_player_right::after {
    right: 0;
  }
  &:hover::after {
    display: block;
  }
}
.web_player_container {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  animation-duration: 0.2s;
  z-index: 10;
}
@keyframes web_player_container-hide {
  from {
    bottom: 0;
  }
  to {
    bottom: -64px;
  }
}
.web_player_playPanel {
  display: none;
  flex-direction: row;
  height: 64px;
  padding-left: 64px;
  background-color: var(--panel);
  border-top: 2px solid var(--border);
  align-items: center;
  &.web_player_open {
    display: flex;
  }
}
.web_player_nowPlaying {
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-direction: column;
  margin-left: -16px;
  padding-left: 16px;
  margin-right: 24px;
  font-size: 16px;
  width: 320px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: var(--button);
  }
  & .web_player_metadataTitle,
  & .web_player_metadataAlbum {
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & .web_player_metadataTitle {
    font-weight: 700;
  }
}
.web_player_playbackButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.web_player_playbackControlButton {
  width: 30px;
  height: 30px;
  font-family: "FontAwesome";
  &.web_player_playPauseBtn {
    width: 48px;
    height: 48px;
    margin: 0 4px;
    font-size: 26px;
    &::before {
      margin-left: 2px;
      content: "\f04b";
    }
    &.web_player_playing::before {
      margin-left: 0;
      content: "\f04c";
    }
    &.web_player_loading {
      animation: 1s linear infinite web_player_spinner;
      &::before {
        margin-left: 0;
        content: "\f110";
      }
    }
  }
}
@keyframes web_player_spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.web_player_playheadContainer {
  position: relative;
  margin: 0 8px;
  flex: 1;
  min-width: 72px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--button);
  border: 2px solid var(--border);
  cursor: pointer;
}
.web_player_playheadControl {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 8px;
  background-color: var(--primary);
  transition: width 0.2s;
}
.web_player_playlistToggleButton {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 8px;
  font-size: 16px;
  &.web_player_open {
    background-color: var(--primary);
    color: var(--button);
  }
  &::before {
    font-family: "FontAwesome";
    content: "\f0cb";
  }
  &.web_player_open::before {
    content: "\f0d7";
  }
}
.web_player_playlistPanel {
  display: none;
  position: fixed;
  right: 16px;
  bottom: -16px;
  width: 100%;
  height: min(480px, 100vh - 64px);
  max-width: 448px;
  border: 2px solid var(--border);
  border-bottom-width: 0;
  background-color: var(--panel);
  box-shadow: 0 2px 16px var(--shadow);
  margin-bottom: 64px;
  flex-direction: column;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &.web_player_open {
    display: flex;
    bottom: 0;
    animation-name: web_player_playlist-panel-show;
  }
  &.web_player_closing {
    bottom: -16px;
    animation-name: web_player_playlist-panel-hide;
  }
}
.web_player_playlistItems {
  flex: 1;
  overflow-y: scroll;
}
.web_player_playlistHeader {
  display: flex;
  padding: 16px;
  user-select: none;
  background-color: var(--panel);
}
.web_player_playlistTitle {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  flex: 1;
}
.web_player_playlistClear {
  border-radius: 20px;
  padding: 4px 12px;
}
.web_player_playlistItem {
  cursor: pointer;
  width: 100%;
  padding: 0 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--panel);
  user-select: none;
  &:hover {
    background-color: var(--button);
    & .web_player_playIndicator {
      color: var(--primary-light);
    }
  }
  &.web_player_newItem {
    animation: 3s web_player_playlist-item-add 1;
  }
  &.web_player_currentlyPlaying {
    font-weight: 700;
    & .web_player_playIndicator {
      color: var(--primary);
    }
  }
  &.web_player_currentlyPlaying .web_player_playIndicator::before,
  &:hover .web_player_playIndicator::before {
    font-family: "FontAwesome";
    content: "\f04b";
  }
  & .web_player_playIndicator {
    width: 16px;
    margin-right: 8px;
  }
  & .web_player_removeBtn {
    width: 24px;
    height: 24px;
  }
  & .web_player_removeBtn::before {
    font-family: "FontAwesome";
    color: var(--negative);
    content: "\f00d";
  }
  & .web_player_metadata {
    flex: 1;
    padding: 4px 0;
    display: flex;
    align-items: center;
    max-width: calc(100% - 64px);
    & img {
      max-width: 40px;
      margin-right: 8px;
    }
    & .web_player_metadataText {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      & .web_player_title,
      & .web_player_album {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      & .web_player_title {
        font-size: 14px;
        line-height: 18px;
      }
      & .web_player_album {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
}
@keyframes web_player_playlist-item-add {
  from {
    background-color: var(--highlight);
  }
  to {
    background-color: var(--panel);
  }
}
.web_player_playlistEmpty {
  padding: 0 16px;
  & p {
    line-height: 1.4;
    margin-top: 16px;
  }
}
.web_player_disabled {
  opacity: 0.75;
  cursor: not-allowed;
  filter: grayscale();
}
@media (max-width: 680px) {
  .web_player_nowPlaying {
    width: 180px;
  }
}
@media (max-width: 512px) {
  .web_player_container,
  .web_player_floatingButton {
    z-index: 10;
  }
  .web_player_playlistPanel {
    z-index: -1000;
    max-width: 100%;
    right: 0;
    height: calc(100vh - 64px);
  }
  .web_player_playheadContainer {
    display: none;
  }
  .web_player_nowPlaying {
    width: 0;
    flex: 1;
    font-size: 14px;
    margin-right: 4px;
  }
}
@keyframes web_player_playlist-panel-show {
  from {
    bottom: -32px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes web_player_playlist-panel-hide {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -32px;
    opacity: 0;
  }
}
